.report-page {
  padding: 0.5rem;
  min-height: 100%;
}

.title {
  font-size: 2rem;
  margin-bottom: 0;
}

.subtitle {
  color: #4b4b4b;
  margin-bottom: 0.2rem;
}

.bold {
  font-weight: bold;
}

.table--single-header {
  tr {
    &:first-child {
      background-color: rgb(198, 233, 255);
    }

    &:nth-child(2n + 3) {
      background-color: rgb(233, 247, 255);
    }

    &:not(:first-child):hover {
      background-color: #f5f5f5;
    }
  }
}

.table-title {
  margin-bottom: 0.2rem;
}

/* Styling for Loading Spinner */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 20%;
  height: 40%;

  content: url(../../../../assets/AEAS-icon.gif);
}
