/* @NOTE: Prepend a `~` to css file paths that are in your node_modules */
/*     See https://github.com/webpack-contrib/sass-loader#imports       */

* {
  // outline: 1px dotted red;
  // outline-offset: -0.5px;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 0.2rem;
}
