/* @NOTE: Prepend a `~` to css file paths that are in your node_modules */
/*     See https://github.com/webpack-contrib/sass-loader#imports       */

* {
  // outline: 1px dotted red;
  // outline-offset: -0.5px;
}

:root {
  font-family: sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}
